menu "WIFI Configuration"

    config ESP_WIFI_SSID
        string "WiFi SSID"
        help
            SSID (network name) to connect to.

    config ESP_WIFI_PASSWORD
        string "WiFi Password"
        help
            WiFi password (WPA or WPA2) to use.

    config ESP_WIFI_SSID2
        string "Second WiFi SSID"
        help
            SSID (network name) to connect to.

    config ESP_WIFI_PASSWORD2
        string "Second WiFi Password2"
        help
            WiFi password (WPA or WPA2) to use.

    config ESP_WIFI_RETRY_DELAY
        int "Delay between WIFI connect retry attempts"
        default 8
        help
            When WIFI disconnects, this is the number of seconds to wait until another retry attempt is made. This is set so not
            to hammer the WIFI routers.
            
    config ESP_WIFI_REBOOT_ENABLED
        bool "Enable Reboot on reconnect count"
        default 1

    config ESP_WIFI_REBOOT_COUNT
        int "Number of unsuccessful retries to connect before restarting the device"
        depends on ESP_WIFI_REBOOT_ENABLED
        default 100
        help
            Sometimes, the device gets stuck and will never reconnect. This is the number
            of retry attempts before the device is just rebooted.


endmenu
